.jumbotron {
  background-image:url('https://ntp.neuroscience.wisc.edu/cssimages/Zhang_neural_stem_cell1_01.jpg');
  background-repeat: no-repeat center center fixed;
  background-size: cover;
  padding-top: 25px;
  padding-bottom: 25px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 90px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}